*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
/prelude-modules.el
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
/.mc-lists.el
/bookmarks
/ido.last
/.org-id-locations
/network-security.data
/smex-items
.emacs.desktop
srecode-map.el
/.last-package-update-day
/projectile.cache
