*.elc
*~
.DS_Store
.cask
.emacs.desktop
.smex-items
/.last-package-update-day
/.mc-lists.el
/.org-id-locations
/bookmarks
/elisp/config-sql.el
/ido.last
/network-security.data
/prelude-modules.el
/projectile.cache
/smex-items
/var/pcache
auto-save-list
custom.el
ede-projects.el
el-get
elpa
eshell
flycheck_init.el
places
projectile-bookmarks.eld
recentf
savefile/
savehist
saveplace
semanticdb
session*
srecode-map.el
tramp
transient/
url
